<h2>Students</h2>

<div *ngIf="isLoading()">
  <p>Loading students, please wait...</p>
</div>

<p *ngIf="errorMessage()">
  {{ errorMessage() }}
</p>

<p>Total students: {{ students().length }}</p>

<p>Search</p>

<input
  type="text"
  [(ngModel)]="searchText"
  placeholder="Search by name or course">

<br><br>

<table border="1" cellpadding="10" *ngIf="!isLoading() && !errorMessage()">

  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Course</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let student of getFilteredStudents()">
    <td>{{ student.id }}</td>
    <td>{{ student.name }}</td>
    <td>{{ student.age }}</td>
    <td>
      {{ student.course }}

      <div *ngIf="student.skills && student.skills.length > 0">
        Skills: {{ student.skills.join(', ') }}
      </div>
    </td>
    <td>
      <button [routerLink]="['/students', student.id, 'edit']">
        Edit
      </button>

      <button (click)="deleteStudent(student.id)">
        Delete
      </button>
    </td>
  </tr>
  </tbody>

</table>
