<h2>Students</h2>

<p>Search</p>

<input
  type="text"
  [(ngModel)]="searchText"
  placeholder="Search by name or course">

<br><br>

<table border="1" cellpadding="10">

  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Course</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let student of filteredStudents">
    <td>{{ student.id }}</td>
    <td>
      <a [routerLink]="['/students', student.id]">
        {{ student.name }}
      </a>
    </td>
    <td>{{ student.age }}</td>
    <td>
      {{ student.course }}

      <div *ngIf="student.skills && student.skills.length > 0">
        Skills: {{ student.skills.join(', ') }}
      </div>
    </td>
    <td>
      <a [routerLink]="['/students', student.id, 'edit']">
        Edit
      </a>

      |

      <button (click)="deleteStudent(student.id)">
        Delete
      </button>
    </td>
  </tr>
  </tbody>

</table>
